<a href="https://colab.research.google.com/github/manojsuriya/basic-python-program/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#to find a day of month
month = int(input("enter month:"))
if month in (1,3,5,7,8,10,12):
  print("31 days")
elif month in (4,6,9,11):
    print("30 days")
elif month==2:
      print("28/29 days")
else:
        print("invalid")

enter month:4
30 days

In [7]:
#temperature
temp = int(input("enter temperature:"))
if temp==37:
  print("person is normal")
elif temp>37  :
  print("person has fever")
else:
  print("person has cold")

enter temperature:56
person has fever

In [58]:
#sum of cubes
m=int(input("enter m"))
n=int(input("enter n"))
if m>n:
  print(0)
else:
  s=0
  for i in range(m,n+1):
    s=s+i**3
  print(s)

enter m5
enter n9
1925

In [17]:
#print name
print("manoj")

manoj

In [18]:
#using input fun
s=input("enter your name")
print(s)

enter your namesuriya
suriya

In [19]:
#print full name
a=input("enter the first name")
b=input("enter the second name")
c=a+b
print(c)

enter the first namemanoj
enter the second namesuriya
manojsuriya

In [20]:
#sum of two numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
c

enter the first number2
enter the second number5

7

In [21]:
#swap two numbers without 3rd variable
a=int(input("enter the first number"))
b=int(input("enter the second number"))
a=a+b
b=a-b
a=a-b
print(a,b)

enter the first number7
enter the second number5
5 7

In [22]:
#to print primitive datatypes
a=5
b=1.4
c=True
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

In [23]:
#to print non-primitive datatypes
a=(1,2,3)
b=[1,2,3]
c={1,2,3,4,5}
d={1:"a",2:"b"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [24]:
a=int(input("enter the number"))
print(a**2)


a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
print((a+b+c)//3)

SyntaxError: invalid syntax (ipython-input-2964812548.py, line 4)

In [25]:
# Program to multiply input by 10

num = int(input("Enter a number: "))
result = num * 10
print("Result after multiplying by 10:", result)

Enter a number: 1
Result after multiplying by 10: 10

In [26]:
# Program to convert minutes to seconds

minutes = int(input("Enter time in minutes: "))
seconds = minutes * 60
print(minutes, "minutes =", seconds, "seconds")

Enter time in minutes: 5
5 minutes = 300 seconds

In [27]:
# Program to find largest of three numbers

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

largest = max(a, b, c)
print("The largest number is:", largest)

Enter first number: 7
Enter second number: 3
Enter third number: 1
The largest number is: 7.0

In [28]:
# Program to find sum of first n natural, even, and odd numbers

n = int(input("Enter a positive integer: "))

Enter a positive integer: 4

In [33]:
# Sum of first n odd numbers: 1 + 3 + 5 + ... + (2n-1) = n^2
sum_odd = n * n

print("Sum of first", n, "natural numbers:", sum_natural)
print("Sum of first", n, "even numbers:", sum_even)
print("Sum of first", n, "odd numbers:", sum_odd)

Sum of first 4 natural numbers: 10
Sum of first 4 even numbers: 20
Sum of first 4 odd numbers: 16

In [34]:
# Program to check if number is positive, negative or zero

num = float(input("Enter a number: "))

if num > 0:
    print("The number is Positive")
elif num < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a number: 5
The number is Positive

In [35]:
# Program to check odd or even

num = int(input("Enter an integer: "))

if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter an integer: 2
2 is Even

In [36]:
# Program to check if number is divisible by 5 and 11

num = int(input("Enter an integer: "))

if num % 5 == 0 and num % 11 == 0:
    print(num, "is divisible by both 5 and 11")
else:
    print(num, "is NOT divisible by both 5 and 11")

Enter an integer: 6
6 is NOT divisible by both 5 and 11

In [38]:
# Program to check grade using marks

marks = int(input("Enter your marks (0-100): "))

if marks >= 90:
    grade = "A+"
elif marks >= 80:
    grade = "A"
elif marks >= 70:
    grade = "B"
elif marks >= 60:
    grade = "C"
elif marks >= 50:
    grade = "D"
elif marks >= 35:
    grade = "E"
else:
    grade = "F (Fail)"

print("Your Grade is:", grade)

Enter your marks (0-100): 90
Your Grade is: A+

In [39]:
# Program to check the day of the week

day = int(input("Enter a number (1-7): "))

if day == 1:
    print("Sunday")
elif day == 2:
    print("Monday")
elif day == 3:
    print("Tuesday")
elif day == 4:
    print("Wednesday")
elif day == 5:
    print("Thursday")
elif day == 6:
    print("Friday")
elif day == 7:
    print("Saturday")
else:
    print("Invalid input! Please enter a number between 1 and 7.")

Enter a number (1-7): 5
Thursday

In [40]:
# simple credential check
username = input("Enter username: ")
password = input("Enter password: ")

Enter username: manoj
Enter password: 12345

In [41]:
# hardcoded credentials
correct_user = "admin"
correct_pass = "password123"

if username == correct_user and password == correct_pass:
    print("Login successful ✅")
else:
    print("Login failed — invalid username or password ❌")

Login failed — invalid username or password ❌

In [42]:
# Simple Arithmetic Program

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number: 3
Enter second number: 5
Addition: 8
Subtraction: -2
Multiplication: 15
Division: 0.6

In [43]:
# Program to check number of days in a month

month = int(input("Enter month number (1-12): "))

if month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
    print("31 days")
elif month == 4 or month == 6 or month == 9 or month == 11:
    print("30 days")
elif month == 2:
    print("28 or 29 days (February)")
else:
    print("Invalid month number! Please enter between 1 and 12.")

Enter month number (1-12): 7
31 days

In [44]:
# Program to check body temperature

temp = float(input("Enter your body temperature in °C: "))

if temp >= 37.5:
    print("You have Fever 🤒")
elif 36.0 <= temp < 37.5:
    print("Your temperature is Normal 🙂")
else:
    print("You feel Cold 🥶")
# Program to find sum of cubes from m to n

def sum_of_cubes(m, n):
    if m > n:
        print("Invalid range! m should be <= n")
        return 0
    total = 0
    for i in range(m, n + 1):
        total += i ** 3
    return total

Enter your body temperature in °C: 37
Your temperature is Normal 🙂

In [46]:
# Program to find sum of first n natural, even, and odd numbers

n = int(input("Enter a positive integer: "))

# Sum of first n natural numbers
sum_natural = n * (n + 1) // 2

# Sum of first n even numbers: 2 + 4 + 6 + ... + 2n = n(n+1)
sum_even = n * (n + 1)

# Sum of first n odd numbers: 1 + 3 + 5 + ... + (2n-1) = n^2
sum_odd = n * n

print("Sum of first", n, "natural numbers:", sum_natural)
print("Sum of first", n, "even numbers:", sum_even)
print("Sum of first", n, "odd numbers:", sum_odd)

Enter a positive integer: 6
Sum of first 6 natural numbers: 21
Sum of first 6 even numbers: 42
Sum of first 6 odd numbers: 36

In [47]:
week=int(input("enter week"))
if week==1:
  print("day is sunday")
elif week==2:
  print("day is monday")
elif week==3:
  print("day is tuesday")
elif week==4:
  print("day is wednesday")
elif week==5:
  print("day is thursday")
elif week==6:
  print("day is friday")
elif week==7:
  print("day is saturday")
else:
  print("invalid day"

SyntaxError: incomplete input (ipython-input-740533132.py, line 17)

In [48]:
a=int(input("enter a"))
b=int(input("enter b"))
ch=int(input("enter ch"))
if ch==1:
  sum=a+b
  print("the sum is",sum)
elif ch==2:
  diff=a-b
  print("the diff is",diff)
elif ch==3:
  pro=a*b
  print("the product is",pro)
elif ch==4:
  div=a/b
  print("the quotient is",div)
elif ch==5:
  rem=a%b
  print("the rem is",rem)
else:
  print("invalid choice")

enter a5
enter b5
enter ch6
invalid choice

In [49]:
month=int(input("enter month:"))
if month in (1,3,5,7,8,10,12):
  print("31 days")
elif month in (4,6,9,11):
  print("30 days")
elif month==2:
  print("28 or 29 days")
else:
  print("invalid days")

enter month:7
31 days

In [50]:
temp=int(input("enter temperature"))
if temp==37:
  print("person is normal")
elif temp>37:
  print("person has fever")
else:
  print("person has cold")

enter temperature7
person has cold

In [51]:
m=int(input("enter m"))
n=int(input("enter n"))
if m>n:
  print(0)
else:
  s=0
  for i in range(m,n+1):
    s+=i**3
  print(s)

enter m5
enter n5
125

In [53]:
user="santhi"
pw="222"
u=input("enter username")
if u==user:
  p=input("enter the password")
  if p==pw:
    print("welcome")
  else:
    print("enter valid password")
else:
  print("inncorrect username")

enter usernamemanoj
inncorrect username

In [54]:

def tiffen_items():
    global total_bill
    print("Welcome to Tiffen Section \nWhat type of Tiffen you want like \n1.Dosa \n2.Idly \n 3.Puri \n4.Bajji")
    a = int(input("Enter the Tiffen you would like in (1-4): "))
    if a == 1:
        price = 25
        item = "Dosa"
    elif a == 2:
        price = 20
        item = "Idly"
    elif a == 3:
        price = 15
        item = "Puri"
    elif a == 4:
        price = 10
        item = "Bajji"
    else:
        print("Invalid input")
        return

    b = int(input("Enter the quantity you would like: "))
    bill = b * price
    total_bill += bill
    cart_items.append(f"{item} x{b} = {bill}")
    print(f"Added {item} x{b} to cart. Total price: {bill}")